body {
	background-color: grey;
}

#main {
	display: flex;
	justify-content: space-around;
}

div.imgcontainer {
	display: grid;
	vertical-align: top;
	grid-template-columns: 3fr;
	text-align: center;
	/* width: 200px; */
}

.upload {
}

img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	background-color: grey;
}

.ctn {
	display: block;
}
