body {
	background-color: grey;
}

#main {
	justify-content: space-around;
}

div.rows {
	display: flex;
	flex-wrap: wrap;
}

.upload {
}

img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	background-color: grey;
}

.ctn {
	text-align: left;
}
