html {
	position: relative;
	min-height: 100%;
}

body {
	margin-top: 0;
	margin: 0;
	background-color: white;
}

#main {
	margin-top: 5px;
	justify-content: space-around;
}

div.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.card img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	margin: auto;
	background-color: grey;
}

.card {
	margin-bottom: 20px;
}

.ctn {
	text-align: left;
}

.component {
	background-color: orange;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1444;
}

/* HEADERS AND NAVSSS */

header {
	height: 40px;
	margin-top: 0;
	background-color: white;
}

/* .nav {
	padding: 15px;
} */

#logo {
	height: 30px;
	padding-left: 20px;
}

#logo:hover {
	transform: scale(1.1);
}

#menu {
	height: 40px;
	padding-right: 20px;
	float: right;
	position: relative;
	transition: top ease 0.5s;
	transform: scale(0.8);
}

#menu:hover {
	top: -1px;
}

#redheart {
	color: red;
}

.btn-block {
	margin-bottom: 50px;
}

footer {
	background: #666666;
	height: 30px;
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer {
	font-family: "Roboto Mono", monospace;
	padding: 7px 40px;
	color: white;
	font-size: 14px;
	margin-top: 20px;
	margin: auto;
}

.closingx {
	float: right;
	font-size: 3em;
}
